.App {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  align-items: center;
  margin: 0 auto;
}

.left-side {
  width: 60vw;
}

.right-side {
  width: 30vw;
}

.right-side img {
  max-width: 20vw;
}

.links {
  display: flex;
}

.links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-right: 0.5rem;
  color: darkgoldenrod;
}

.links img {
  height: 2.5rem;
}

.Link {
  padding-right: 0.5rem;
}

p {
  white-space: pre-line;
}

h1,
h3,
h4,
h5 {
  color: darkgoldenrod;
}

a:hover {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

.contact {
  padding-top: 1rem;
}

.contact a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}